body {
    display: flex;
    justify-content: center;
}
// img {
//     max-width: 100%;
//     height: auto;
// }
// .container {
//     position:absolute;
//     display: flex;
//     justify-content: center;

// }
.navbar {
    a {
        text-decoration: none;
        color: #000000;
    }
    background-color: #ffffff;
    padding: 10px 0px 10px 0px;
}
.info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}